#app {
    // 主体区域
    .main-container {
        min-height: 100%;
        transition: margin-left 0.28s;
        margin-left: 180px;
    }
    // 左侧菜单
    .sidebar-container {
        transition: width 0.28s;
        width: 180px !important;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        a {
            display: inline-block;
            width: 100%;
        }
        .svg-icon {
            margin-right: 16px;
        }
        .el-menu {
            border: none;
            width: 100%;
        }
    }
    .nest-menu .el-submenu>.el-submenu__title,
    .el-submenu .el-menu-item {
        min-width: 180px!important;
        background-color: $subMenuBg!important;
        &:hover {
        background-color: $menuHover!important;
        }
    }
}